.border-box{
 background-color: bisque;
width: 400px;
height: 400px;
}

.container{
position: absolute;
left: 40%;
right: 50%;
top: 20%;
}

#chrono{
display: flex;
justify-content: center;
padding:50px;
}

.btn {
    padding-left: 20px;
    margin-left: 20px;
   color:darkgreen;
}

.content{
display: flex;
align-items: center;
padding-top: 60px;
margin-top: 90%;
margin-left: 50%;
}